<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ pagename|title }}</title>
</head>
<body>
    <h1>{{ pagename|title }}</h1>
    <table style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>
      <tr><td>
          Name
        </td><td>
          Owner
        </td><td>
          說明
        </td><td>
          版本
        </td><td>
          API Call
        </td><td>
          URL
        </td><td>
          Doc URL
        </td><td>
          Endpoint
        </td><td>
          說明
        </td><td>
          Create Date
        </td><td>
          Location
        </td><td>
          Database
        </td><td>
          Actived
        </td></tr>
    {% for api in apiList %}
      <tr>
        <td>
          {{ api.apiName }}
		</td><td>
		  {{ api.apiOwner}}
		</td><td>
		  {{ api.apiDesc}}
		</td><td>
		  <table style="border:1px #22ACDD solid;padding:2px;" rules="all" cellpadding='2';>
		    <tr><td>
		      編號
		    </td><td>
		      Update Date
		    </td><td>
		      版本控制
		    </td><td>
		      Source
		    </td></tr>
		    {% for ver in api.apiVer %}
		    <tr><td>
		      {{ver.no}}
		    </td><td>
		      {{ver.apiUDate}}
		    </td><td>
		      {{ver.verCtrlType}}
		    </td><td>
		      {{ver.srcUrl}}
		    </td></tr>
		  {% endfor %}
		  </table>
		</td><td>
		  {{ api.apiCall}}
		</td><td>
		  {{ api.apiUrl}}
		</td><td>
		  {{api.apiDocUrl}}
		</td><td>
		  {{api.apiEndPoint}}
		</td><td>
		  {{api.apiProto}}
		</td><td>
		  {{api.apiCDate}}
		</td><td>
		  {{api.apiLocation}}
		</td><td>
		  {{api.dataSource}}
		</td><td>
		  {{api.apiActived}}
		</td></tr>
    {% endfor %}
    </table>
</body>
</html>